/** Image hover effect */
.zoom-on-hover {
  transition: transform 1s ease;
  /** border-radius: var(--bs-border-radius); */
}

.zoom-on-hover:hover {
  transform: scale(1.1);
}

/** Move element on hover */
.move-on-hover {
  transition: transform 0.1s ease-out;
}

.move-on-hover.active {
  transition: none;
}

/** Secondary image on hover */
.has-more-than-one {
  position: relative;
  overflow: hidden;
}

.has-more-than-one .secondary-on-hover img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.4s ease;
}
.has-more-than-one .secondary-on-hover img.primary-image {
  position: relative;
}
.has-more-than-one .secondary-on-hover img.secondary-image {
  transform: translateX(100%);
  object-fit: cover;
}

.has-more-than-one .secondary-on-hover:hover img.primary-image {
  transform: translateX(-100%);
}

.has-more-than-one .secondary-on-hover:hover img.secondary-image {
  transform: translateX(0);
}

.collection-card .view-button svg,
.product-card .view-button svg {
  transition: transform 0.4s ease;
}
.collection-card:hover .view-button svg,
.product-card:hover .view-button svg {
  transform: rotate(-45deg);
}
.product-card .product-url,
.article-card-content a {
  text-decoration: none;
  position: relative;
}

.product-card:hover .product-url,
.article-card-content:hover a {
  text-decoration: underline;
}

.view-more-wrapper {
  opacity: 0.6;
}

.view-more-button {
  opacity: 0.5;
}

.product-card:hover .view-more-button,
.product-card:hover .view-more-wrapper {
  opacity: 1;
}

/** Social icons */
.list-social-icon svg,
.contact-info svg {
  height: 25px;
  width: 25px;
}

.muted {
  opacity: 0.6;
}

/** Aspect ratio */
.landscape img,
.wide img,
.portrait img,
.square img,
.landscape video,
.wide video,
.portrait video,
.square video,
.landscape svg,
.wide svg,
.portrait svg,
.square svg,
.landscape iframe,
.wide iframe,
.portrait iframe,
.square iframe {
  object-fit: cover;
  object-position: center;
}

.landscape img,
.landscape video,
.landscape svg,
.landscape iframe {
  aspect-ratio: 3/2;
}

.wide img,
.wide video,
.wide svg,
.wide iframe {
  aspect-ratio: 16/9;
}

.portrait img,
.portrait video,
.portrait svg,
.portrait iframe {
  aspect-ratio: 2/3;
}

.square img,
.square video,
.square svg,
.square iframe {
  aspect-ratio: 1/1;
}

.has-image {
  overflow: hidden;
}

.container-fluid {
  padding: 0 !important;
}
.translate-left {
  transform: translateX(-100%);
}

.translate-right {
  transform: translateX(100%);
}

.h-fit {
  height: fit-content;
}

.fit-max {
  width: max-content;
}

.fit-content {
  width: fit-content;
}

.inline-icon {
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}

.border-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.border-left-0 {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

/* Mobile Classes */
@media only screen and (max-width: 767px) {
  .h-m-50 {
    height: 50px;
  }
  .h-m-100 {
    height: 100px;
  }
  .h-m-150 {
    height: 150px;
  }
  .h-m-200 {
    height: 200px;
  }
  .h-m-250 {
    height: 250px;
  }
  .h-m-300 {
    height: 300px;
  }
  .h-m-350 {
    height: 350px;
  }
  .h-m-400 {
    height: 400px;
  }
  .h-m-450 {
    height: 450px;
  }
  .h-m-500 {
    height: 500px;
  }
  .h-m-550 {
    height: 550px;
  }
  .h-m-600 {
    height: 600px;
  }
  .h-m-650 {
    height: 650px;
  }
  .h-m-700 {
    height: 700px;
  }
  .h-m-750 {
    height: 750px;
  }
  .h-m-800 {
    height: 800px;
  }
  .h-m-850 {
    height: 850px;
  }
  .h-m-900 {
    height: 900px;
  }
  .h-m-950 {
    height: 950px;
  }
  .h-m-1000 {
    height: 1000px;
  }
  .h-m-auto {
    height: auto;
  }
  .h-m-full {
    height: 100vh;
  }
  .h-m-100 {
    height: 100% !important;
  }
  .w-m-100 {
    width: 100%;
  }
}

/* Desktop Classes */
@media only screen and (min-width: 768px) {
  .h-d-50 {
    height: 50px;
  }
  .h-d-100 {
    height: 100px;
  }
  .h-d-150 {
    height: 150px;
  }
  .h-d-200 {
    height: 200px;
  }
  .h-d-250 {
    height: 250px;
  }
  .h-d-300 {
    height: 300px;
  }
  .h-d-350 {
    height: 350px;
  }
  .h-d-400 {
    height: 400px;
  }
  .h-d-450 {
    height: 450px;
  }
  .h-d-500 {
    height: 500px;
  }
  .h-d-550 {
    height: 550px;
  }
  .h-d-600 {
    height: 600px;
  }
  .h-d-650 {
    height: 650px;
  }
  .h-d-700 {
    height: 700px;
  }
  .h-d-750 {
    height: 750px;
  }
  .h-d-800 {
    height: 800px;
  }
  .h-d-850 {
    height: 850px;
  }
  .h-d-900 {
    height: 900px;
  }
  .h-d-950 {
    height: 950px;
  }
  .h-d-1000 {
    height: 1000px;
  }
  .h-d-auto {
    height: auto;
  }
  .h-d-full {
    height: 100vh;
  }
  .h-d-100 {
    height: 100% !important;
  }
  .w-lg-25 {
    max-width: 25%;
  }
  .w-lg-50 {
    max-width: 50%;
  }
  .w-lg-75 {
    max-width: 75%;
  }
  .w-lg-100 {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .position-mobile-top-center {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .position-mobile-middle-left {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
  .position-mobile-middle-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .position-mobile-middle-right {
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
  }
  .position-mobile-bottom-right {
    bottom: 10%;
    right: 5%;
  }
  .position-mobile-bottom-left {
    bottom: 10%;
    left: 5%;
  }
}

@media screen and (min-width: 769px) {
  .position-top-center {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .position-middle-left {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }

  .position-middle-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .position-middle-right {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }

  .position-bottom-right {
    bottom: 10%;
    right: 5%;
  }

  .position-bottom-left {
    bottom: 10%;
    left: 5%;
  }
}
@media (max-width: 768px) {
  .scroll {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

.align-vertically-center {
  display: flex;
  gap: 3px;
  align-items: center;
}

.center-center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.center-left {
  text-align: left;
  align-items: start;
  justify-content: start;
}

.center-right {
  text-align: right;
  align-items: end;
  justify-content: end;
}

.block-header *,
.block-header {
  width: fit-content;
  text-wrap: wrap;
}

.container .round {
  border-radius: var(--bs-border-radius);
}
.overlay {
  position: absolute;
  border-radius: var(--bs-border-radius);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--overlay-color);
  opacity: var(--overlay-opacity);
}

.is-carousel .has-image > :is(img, svg, video) {
  position: absolute;
  inset: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/** Splide carousel **/
.splide__slide:not(.is-visible) .splide__slide-content .block-header {
  visibility: hidden;
}

.is-carousel .splide__slide {
  transition: filter 0.3s linear;
}

.is-carousel .splide__slide:not(.is-active) {
  filter: blur(3px);
}
ul.splide__arrows {
  padding: 5px;
  webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 20px;
  height: fit-content;
}

.splide__arrow {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.splide__pagination li {
  margin: 0 5px;
}

.splide__arrow--prev {
  order: -1;
}

.media-carousel .splide__arrows {
  bottom: 0.5em;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .disable-desktop-radius-true {
    border-radius: 0 !important;
  }
}

@media (max-width: 768px) {
  .disable-mobile-radius-true {
    border-radius: 0 !important;
  }
}
/** Drawers */
.offcanvas.offcanvas-end {
  inset: 2rem;
  left: auto;
}

/** Photoswipe*/
.pswp__img {
  border-radius: var(--bs-border-radius);
}

.pswp__container {
  transition: transform 0.5s ease-in;
}
/**.is-carousel .container-fluid .is-next, .is-carousel .container-fluid div:not(:has(> img)), .is-carousel .container-fluid{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.is-carousel .container-fluid .is-prev, .is-carousel .container-fluid div:not(:has(> img)), .is-carousel .container-fluid{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

**/
/** Pulsing popover **/
.pulse,
.popover-trigger {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.pulse {
  z-index: 1;
  background-color: var(--pulse-color);
}

.pulse span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  opacity: 0.8;
  animation: pulseAnimate 4s ease-out infinite;
  animation-delay: calc(1s * var(--i));
  pointer-events: none;
  z-index: 0;
}

.pulse button {
  position: relative;
  z-index: 2;
}
@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

/** Play button */
.custom-play-button {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: #000;
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  border-radius: 50% !important;
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.15),
    0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-play-button .play-button {
  position: relative;
  width: 50px;
  height: 50px;
}

.custom-play-button .pause,
.custom-play-button .play {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  display: none;
}

.custom-play-button .pause.active {
  display: flex;
}

.custom-play-button .play.active {
  display: flex;
}

@media (max-width: 767px) {
  .custom-play-button {
    width: 50px;
    height: 50px;
  }
}

.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
}

.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

.extra-small {
  font-size: 0.7rem;
}

.headings-font-family {
  font-family: var(--bs-headings-font-family);
}

.object-cover {
  object-fit: cover;
}

/*
    Buttons (normal)
*/
.btn {
  --bs-btn-border-radius: var(--bs-border-radius);
}

.btn-primary {
  background-image: var(--bs-primary-button-gradient);
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-darken-5);
  --bs-btn-hover-border-color: var(--bs-primary-darken-5);
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
  --bs-btn-active-bg: var(--bs-primary-darken-5);
  --bs-btn-active-border-color: var(--bs-primary-darken-5);
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
  --bs-btn-color: var(--bs-primary-button-text);
}

.btn-secondary {
  background-image: var(--bs-secondary-button-gradient);
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-secondary-darken-5);
  --bs-btn-hover-border-color: var(--bs-secondary-darken-5);
  --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
  --bs-btn-active-bg: var(--bs-secondary-darken-10);
  --bs-btn-active-border-color: var(--bs-secondary-darken-10);
  --bs-btn-disabled-bg: var(--bs-secondary);
  --bs-btn-disabled-border-color: var(--bs-secondary);
  --bs-btn-color: var(--bs-secondary-button-text);
}

/*
    Buttons (outline)
*/

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: ;
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-outline-secondary {
  --bs-btn-color: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: ;
  --bs-btn-hover-border-color: var(--bs-secondary);
  --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
  --bs-btn-active-bg: var(--bs-secondary);
  --bs-btn-active-border-color: var(--bs-secondary);
  --bs-btn-disabled-color: var(--bs-secondary);
  --bs-btn-disabled-border-color: var(--bs-secondary);
}

/* Outline Buttons with Bootstrap Variables */
.btn-outline-primary,
.btn-outline-secondary {
  position: relative;
  overflow: hidden;
  transition: color 0.4s;
  z-index: 1;
}

.btn-outline-primary::before,
.btn-outline-primary::after,
.btn-outline-secondary::before,
.btn-outline-secondary::after {
  content: '';
  position: absolute;
  top: var(--y, 50%);
  left: var(--x, 50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s;
  z-index: -1;
}

.btn-outline-primary::before,
.btn-outline-primary::after {
  background-color: var(--bs-primary);
}

.btn-outline-secondary::before,
.btn-outline-secondary::after {
  background-color: var(--bs-secondary);
}

.btn-outline-primary:hover::before,
.btn-outline-secondary:hover::before {
  transform: translate(-50%, -50%) scale(3);
}

.btn-outline-primary.hovered::after,
.btn-outline-secondary.hovered::after {
  transform: translate(-50%, -50%) scale(0);
}

/* Reset Button Text Color on Hover */
.btn-outline-primary:hover,
.btn-outline-secondary:hover {
  color: #fff;
}

/* Ensure Pseudo-elements are Behind the Button Text */
.btn-outline-primary,
.btn-outline-secondary {
  z-index: 1;
}

/** Accordions */
.accordion-button:not(.collapsed) {
  --bs-accordion-active-bg: var(--bs-primary);
  --bs-accordion-active-color: var(--bs-body-color);
  --bs-accordion-border-color: var(--bs-body-color);
}

.accordion-state-icon {
  position: absolute;
  right: 0.9rem;
  flex-shrink: 0;
}

.accordion-button .bi-plus,
.accordion-button .bi-dash {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.accordion-button.collapsed .bi-plus {
  transform: rotate(0deg);
  opacity: 1;
  visibility: visible;
}

.accordion-button.collapsed .bi-dash {
  transform: rotate(-180deg);
  opacity: 0;
  visibility: hidden;
}

.accordion-button:not(.collapsed) .bi-plus {
  transform: rotate(180deg);
  opacity: 0;
  visibility: hidden;
}

.accordion-button:not(.collapsed) .bi-dash {
  transform: rotate(0deg);
  opacity: 1;
  visibility: visible;
}

.accordion-button:after {
  content: none;
}

**/
/*
    Badges
*/
.badge {
  --bs-badge-border-radius: var(--bs-border-radius);
}

.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ccc'/%3e%3c/svg%3e");
}

.form-range:focus::-webkit-slider-thumb {
  box-shadow:
    0 0 0 1px #fff,
    0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.form-range:focus::-moz-range-thumb {
  box-shadow:
    0 0 0 1px #fff,
    0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.form-range::-webkit-slider-thumb {
  background-color: var(--bs-primary);
}

.form-range::-webkit-slider-thumb:active {
  background-color: rgba(var(--bs-primary-rgb), 0.75);
}

.form-range::-moz-range-thumb {
  background-color: var(--bs-primary);
}

.form-range::-moz-slider-thumb:active {
  background-color: rgba(var(--bs-primary-rgb), 0.75);
}

.form-range::-webkit-slider-runnable-track {
  background-color: var(--bs-light-darken-5);
}

.form-control::file-selector-button {
  background-color: var(--bs-light);
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: var(--bs-light);
}

/* 
    Dropdowns 
*/
.dropdown-menu {
  --bs-dropdown-border-color: var(--bs-border-color);
  --bs-dropdown-border-radius: var(--bs-border-radius);
  --bs-dropdown-link-color: var(--bs-body-color);
  --bs-dropdown-link-hover-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: var(--bs-light-darken-5);
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: var(--bs-primary);
}

@keyframes dropdown_menu_fade_aninatiom {
  from {
    transform: translateY(-0.375rem);
  }
  to {
    transform: translateY(0);
  }
}

.dropdown-item {
  transition: background 0.2s ease-out;
  font-size: 0.925rem;
}

/*
    Img thumbnail
*/
.img-thumbnail {
  background-color: var(--bs-body-bg);
}

/** List group */
.list-group {
  --bs-list-group-border-color: var(--bs-body-bg-lighten-10);
}

/*
    Nav
*/
.nav {
  --bs-nav-link-color: var(--bs-body-color);
  --bs-nav-link-hover-color: var(--bs-body-color);
  --bs-nav-link-disabled-color: var(--bs-body-color);
}

/*
    Tabs
*/
.nav-tabs {
  border-bottom-color: var(--bs-border-color);
  --bs-nav-tabs-link-active-color: var(--bs-primary);
}

.nav-pills {
  --bs-nav-pills-link-active-bg: var(--bs-primary);
}

/*
    Btn Close
*/
.btn-close:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

/*
    Modal
*/
.modal {
  --bs-modal-bg: var(--bs-body-bg);
}

.modal-content {
  border-radius: var(--bs-border-radius);
}

/*
    Popovers
*/
.popover {
  --bs-popover-bg: var(--bs-body-bg);
  --bs-popover-border-color: var(--bs-border-color);
  --bs-popover-header-bg: var(--bs-light);
  --bs-popover-body-color: var(--bs-body-color);
  --bs-popover-arrow-border: var(--bs-border-color);
  /* --bs-popover-border-radius: var(--bs-border-radius);
    --bs-popover-inner-border-radius: var(--bs-border-radius); */
}

.popover-body p {
  margin-bottom: 0;
}

/*
    Accordion
*/
.accordion {
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-focus-border-color: rgba(var(--bs-primary-rgb), 0.5);
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
  --bs-accordion-active-color: var(--bs-primary);
  --bs-accordion-active-bg: var(--bs-light);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: var(--bs-border-radius);
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}

.accordion-button:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.1);
}

/*
    Tables
*/
.table {
  --bs-table-striped-bg: rgba(0, 0, 0, 0.025);
  --bs-table-striped-color: currentColor;
}

.table-light {
  --bs-table-bg: var(--bs-light);
  --bs-table-color: var(--bs-body-color);
  --bs-table-border-color: var(--bs-border-color);
}

/*
    Spinners
*/
.spinner-border-sm {
  --bs-spinner-border-width: 0.15em;
}

/*
    Progress
*/
.progress {
  background-color: var(--bs-body-bg-darken-3);
}

.progress-bar {
  background-color: var(--bs-primary);
}

/*
    Hr (separators
*/
hr,
.hr {
  opacity: 0.1;
}

/*
    Text ellipsis
*/
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
    Breadcrumbs
*/
.breadcrumb {
  --bs-breadcrumb-margin-bottom: 0;
  --bs-breadcrumb-font-size: 0.875rem;
  --bs-breadcrumb-item-active-color: rgba(var(--bs-body-color-rgb), 0.5);
}

/*
    Recaptcha page
*/
.shopify-challenge__container {
  padding: 2rem;
}

/*
    Policy pages
*/
.shopify-policy__container {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  max-width: 720px !important;
}

/*
    Shopify's system errors
*/
.errors ul {
  margin-bottom: 0;
}

/*
    Collapsible tables
*/
@media (max-width: 991px) {
  .table-collapsible table {
    border: 0;
  }
  .table-collapsible table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .table-collapsible table tr {
    display: block;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid var(--bs-dark);
  }
  .table-collapsible table tr:first-child {
    border-top: 1px solid var(--bs-dark);
  }
  .table-collapsible table td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.95rem;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .table-collapsible table td::before {
    content: attr(data-label);
    font-weight: bold;
    padding-right: 1rem;
  }
  .table-collapsible table td:last-child {
    border-bottom: 0;
  }
}

/** Vertical hr */
.v-hr {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
